---
name: Checkov Security Scan

permissions:
  security-events: write
  contents: read
  actions: read

on:
  workflow_call:
    inputs:
      config_file:
        description: 'Path to checkov config file'
        required: false
        default: '.checkov.yaml'
        type: string
      working_directory:
        description: 'Working directory for checkov scan'
        required: false
        default: '.'
        type: string

jobs:
  checkov:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5

      # - name: Get workflow version
      #   id: workflow-version
      #   uses: canonical/get-workflow-version-action@v1
      #   with:
      #     repository-name: govuk-one-login/org-github-actions
      #     file-name: checkov.yaml
      
      # - name: Test new action
      #   run: |
      #     echo "Workflow version: ${{ steps.workflow-version.outputs.sha }}"

      - name: Get workflow reference
        id: workflows-ref
        run: |
            # This variable is manipulated by the two expansions
            workflow_ref=${{ github.workflow_ref }}

            # Delete the repository from the front of worklow ref
            workflow_path="${workflow_ref#"${{ github.repository }}/"}"

            # Delete the rep ref from anywhere in the workflow path
            workflow_path="${workflow_path%"@${{ github.ref }}"}"

            caller_reference="$(grep "${workflow_name}" "${workflow_path}")"

            ## If this starts with ./, then just use the current ref
            echo "caller reference=${caller_reference}"
            if [[ "${caller_reference}" == *"./.github/workflows"* ]]; then
              sha="${{ github.ref }}"
            else
              sha="$(echo "${caller_reference}" | cut -d"@" -f2)"
              # trim anything after the version term (spaces)
              sha="$(echo "${sha}" | cut -d" " -f1)"
            fi
            echo "sha=${sha}" >> "${GITHUB_OUTPUT}"
      
      - name: Test
        run: |
          echo ${{ github.workflow_ref }}
          echo ${{ steps.workflows-ref.outputs.sha }}
          echo ${{ steps.workflows-ref.outputs.ref }}
      
      - name: Checkout org-github-actions
        uses: actions/checkout@v5
        with:
          repository: govuk-one-login/org-github-actions
          # ref: ${{ steps.workflows-ref.outputs.sha }}
          path: .github-actions

      - name: debugging
        run: find . -type f ! -path '*/.git/*'

      - name: Additional debugging
        run: |
          echo $GITHUB_WORKFLOW_SHA
          echo $GITHUB_WORKFLOW_REF
          echo ${{ github.job_workflow_sha  }} 


      - uses: ./.github-actions/checkov
        with:
          config_file: ${{ inputs.config_file }}
          working_directory: ${{ inputs.working_directory }}
