---
name: Checkov Security Scan

permissions:
  security-events: write
  contents: read
  actions: read

on:
  workflow_call:
    inputs:
      config_file:
        description: 'Path to checkov config file'
        required: false
        default: '.checkov.yaml'
        type: string
      working_directory:
        description: 'Working directory for checkov scan'
        required: false
        default: '.'
        type: string

jobs:
  checkov:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      
      - name: Checkout org-github-actions
        uses: actions/checkout@v5
        with:
          repository: govuk-one-login/org-github-actions
          ref: ${{ github.job_workflow_sha  }}
          path: .github-actions

      - name: debugging
        run: find . -type f ! -path '*/.git/*'

      - name: Additional debugging
        run: |
          echo $GITHUB_WORKFLOW_SHA
          echo $GITHUB_WORKFLOW_REF
          echo ${{ github.job_workflow_sha  }} 


      - uses: ./.github-actions/checkov
        with:
          config_file: ${{ inputs.config_file }}
          working_directory: ${{ inputs.working_directory }}
